<main class = "AboutUs-container">
    <h2 class = "pageTitle"> About Us</h2>
    <div id = "AboutUs-container-paragraph">
        <p>
            This app helps users find Trails in and around Oregon and provides information like 
            elevation gain, terrain, images, and more.
        </p>
    </div>
</main>