<main>
  
    <div id="homeContainer">
        <h2 class="pageTitle">Search Trails</h2>
        <div id="SearchHome">
            <input type="text" placeholder="Search">
        </div>
    </div>
</main>